<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/adminLayout}">
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
.dashboard-card{
	display: flex;
    padding: 20px !important;
    justify-content: space-between;
        margin: 0px 108px 0px 14px;
	}
.dashboard-card-title{
    font-size: 14px;
    font-weight: 600;
    }
.todayDate{
    display: flex;
    justify-content: center;
    left: -71px;
    position: relative;
    align-items: center;
}
#todayButton{
    font-weight: bold;
    color: #494f56;
    margin-left: 13px;
    font-size: 17px;
    cursor: pointer;
    z-index: 10;
    position: relative;
    width: 60px;
}

#datePick{
background: none;
    border: none;
    text-align: center;
    width: 153px;
}

.dashboard-card3{
	    min-height: 390px;
}
.chart-canvas{
width:100%;
}
.bg-gradient-info,.progress{
height:13px !important;

}
.justify-content-center{
display: flex;
justify-content:center;
margin-bottom: 6px;
}

.detailTypeName{
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
}
.detailCount{
    margin: 0px;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 8px;
}
#progress-bar-container{
display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.progressWrapper{
display: flex;
    flex-direction: row;
    align-items: center;
        justify-content: flex-end;
}
.progressBarRate{
    margin: 0;
    font-weight: 500;
    margin-right: 10px;
}
.progress{
width: 100%;
}
.progress-detail{
width: 100px !important;
}

.contact-table-p{
margin: 0;
    font-size: 15px;
    color: #6f6f6f;
}
.status-pending{
    margin: 4px 0;
    text-align: center;
    color: #505050;
    font-weight: 500;
}

.status-completed{
    margin: 4px 0;
    text-align: center;
    color: #F44336;
        font-weight: 500;
}
#ui-datepicker-div{
z-index:2 !important;
}
canvas{
width:315px !important;
height:315px !important;
}
.total-price{
    position: absolute;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
	</style>

</th:block>
</head>
<div layout:fragment="content">

    <div class="container-fluid py-4">
      <div class="row">
<div style="
    display: flex;
">
    <div class="col-1" >
        <p id="todayButton">TODAY</p>
    </div>
    <div class="col" >
    <div class="todayDate"><svg id="left" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="
    cursor: pointer;
">
    <g id="Bold-Outline" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="chevrons-left" fill-rule="nonzero" fill="#000000">
            <path d="M6.02101273,12.28777 C6.08351721,13.030316 6.42107152,13.7508664 7.02345298,14.283377 L14.3376811,20.74922 C14.7514649,21.1150087 15.3834333,21.0761009 15.749222,20.662317 C16.1150107,20.2485331 16.0761028,19.6165647 15.6623189,19.250776 L8.34809088,12.784933 C7.93430699,12.4191444 7.89539917,11.787176 8.26118783,11.3733921 C8.28714161,11.3440329 8.31479867,11.3162246 8.34401591,11.2901112 L15.6663939,4.74559789 C16.0781773,4.3775587 16.1136391,3.74538755 15.7455999,3.33360412 C15.3775607,2.92182069 14.7453895,2.88635898 14.3336061,3.25439818 L7.01122808,9.79891146 C6.92357634,9.87725185 6.84060517,9.96067663 6.76274382,10.0487542 C6.36283349,10.5011369 6.12416322,11.0404491 6.0424032,11.5963631 C6.01514034,11.7198126 6,11.8563701 6,12 C6,12.1000336 6.00734409,12.1966366 6.02101273,12.28777 L6.02101273,12.28777 Z" id="shape"></path>
        </g>
    </g>
</svg>
       <!-- 날짜 선택을 위한 input 필드 -->
<input type="text" id="datePick">
        
        <svg id="right"width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"style="
    cursor: pointer;
">
    <g id="Bold-Outline" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="chevrons-right" fill-rule="nonzero" fill="#000000">
            <path d="M8.33803136,4.749222 L15.659847,11.215065 C16.0740601,11.5808537 16.1130083,12.2128221 15.7468402,12.626606 C15.7208595,12.6559651 15.6931738,12.6837734 15.6639262,12.7098869 L8.33395217,19.2544001 C7.92174157,19.6224393 7.88624307,20.2546105 8.25466406,20.6663939 C8.62308505,21.0781773 9.255912,21.1136391 9.6681226,20.7455999 L16.9980966,14.2010866 C17.0858393,14.1227462 17.1688965,14.0393214 17.2468387,13.9512439 C18.345343,12.7098922 18.2284984,10.813987 16.985859,9.716621 L9.6640434,3.250778 C9.24983027,2.88498934 8.61720627,2.92389716 8.25103816,3.33768105 C7.88487005,3.75146494 7.92381823,4.38343335 8.33803136,4.749222 Z" id="shape"></path>
        </g>
    </g>
</svg></div>
    </div>
</div>

        <div class="">
          <div class="card">
            <div class="dashboard-card">

              <div>
                <p class="dashboard-card-title">체크인</p>
                <div style="display: flex;"><h4 id="countCheckIn2" class=""></h4><h4 id="countCheckIn"class=""></h4> </div>
              </div>
                            <div class="">
                <p class="dashboard-card-title">체크아웃</p>
                <div style="display: flex;"><h4 id="countCheckOut2"class="" ></h4><h4 id="countCheckOut"class="" ></h4> </div>
              </div>
                            <div class="">
                <p class="dashboard-card-title">남은 객실</p>
                <div style="display: flex;"><h4 id="countStock" class=""></h4></div>
              </div>
                            <div class="">
                <p class="dashboard-card-title">들어온 예약</p>
                <div style="display: flex;"><h4 id="countReservationToday"class="" ></h4></div>
              </div>
                            <div class="">
                <p class="dashboard-card-title">취소된 예약</p>
                <div style="display: flex;"><h4 id="countCanceledReservationToday"class="" ></h4></div>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card z-index-2 dashboard-card3">
            <div class="card-body" style="
    display: flex;
    flex-direction: column;
">
              <h6 class="mb-0 ">예상 거래액</h6>
                <div class="chart"style="
    display: flex;
    justify-content: center;
    align-items: center;
">
                  <canvas id="chart-doughnut" ></canvas>
                  <p id="total-price"class="total-price"></p>
                </div>

            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mb-3">
          <div class="card z-index-2 dashboard-card3">



            <div class="card-body">
            <div>              <h6 class="mb-0 ">객실 점유율</h6>
              <p class="text-sm ">Last Campaign Performance</p>
              </div>
				<div>
                    <td class="align-middle">
                        <div class="progress-wrapper mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage justify-content-center">
                              <span id="rate-text" class="text-xs font-weight-bold" style="font-size:25px !important;"></span>
                            </div>
                          </div>
                          <div class="progress">
                            <div id="occupancyProgressBar" class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </td>
                     </div>
              <hr class="dark horizontal">
              <div class="row" style="
    margin-top: 30px;
">
              <div id="progress-bar-detail" class="col">
              </div>
              <div id="progress-bar-container" class="col">
    <!-- Progress bars will be dynamically added here -->
</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mb-3">
          <div class="card z-index-2 dashboard-card3">
            


            <div class="card-body" style="
    padding-left: 0;
    padding-right: 0;
">
              <h6 class="mb-0 "style="
    padding-left: 1.5rem;
">문의</h6>
<div style="
    margin-top: 28px;
">                            <table class=" align-items-center mb-0" style="width:100%;">
                  <thead style="
    height: 25px;
">
                    <tr style="
    background-color: whitesmoke;
">
                      <th style="border-top:none;padding-left: 25px;"class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">제목</th>
                      <th style="border-top:none;"class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">상태</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="contact, status: ${contacts}" th:limit="2">
                      <td class="col-lg-9" style="
    padding: 0;
    padding-left: 20px;
">
                        <div class="d-flex px-2 py-1" style="
    padding: 0 !important;
"> 
						<p class="contact-table-p" th:utext="${#strings.length(contact.title) > 22 ? contact.title.substring(0, 22) + '...' : contact.title}"
></p>
                        </div>
                      </td>
                      <td class="align-middle col-lg-3" >
                      <p class="contact-table-p status-pending" th:if="${contact.contactStatus.toString()} == 'pending' "
>답변대기</p>
                      <p class="contact-table-p status-completed" th:if="${contact.contactStatus.toString()} == 'completed' "
>답변완료</p>
                      </td>
                    </tr>





                  </tbody>
                </table>
                </div>
            </div>

          </div>
        </div>
      </div>

      <footer class="footer py-4  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                © <script>
                  document.write(new Date().getFullYear())
                </script>,
                made with <i class="fa fa-heart"></i> by
                <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
                for a better web.
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>

</div>
  <!-- 각 페이지의 스크립트가 작성될 위치 -->
	<th:block layout:fragment="script">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script th:inline="javascript">
		function createDoughnutChart(dateValues) {
		  const ctx = document.getElementById('chart-doughnut');

		  new Chart(ctx, {
		    type: 'doughnut',
		    data: {
		      
		      datasets: [{
		        label: '예상매출액',
		        data: [100],
		        borderWidth: 0,
		        cutout: "80%",
		        radius: "80%"
		       
		      }]
		    },
		    options: {

		    }
		  });
		}
	function drawPercentageStackedBar(rate) {
	  var occupancyRate = rate;

	  // Update progress bar with the new value
	  var progressBar = document.getElementById("occupancyProgressBar");
	  progressBar.style.width = occupancyRate + "%";
	  progressBar.setAttribute("aria-valuenow", occupancyRate);
	}

	function drawOccupancyRateProgressBar(data) {
	    var progressBarContainer = document.getElementById('progress-bar-container');
	    var progressBarDetail = document.getElementById('progress-bar-detail');
	    progressBarContainer.innerHTML = '';
	    progressBarDetail.innerHTML = '';
	    
	    for (var i = 0; i < data.length; i++) {
	        var typeId = data[i].typeId;
	        var count = data[i].count;
	        var occupancyRate = data[i].occupancyRate;

	        var progressWrapper = document.createElement('div');
	        progressWrapper.className = 'progressWrapper';
	        var progress = document.createElement('div');
	        progress.className = 'progress progress-detail';
	        // Create a progress bar for each item in the data
	        var progressBar = document.createElement('div');
	        var progressBarRate = document.createElement('p')
	        progressBar.className = 'progress-bar bg-gradient-info'; 
	        progressBar.style.width = occupancyRate + '%';
	        progressBarRate.className = 'progressBarRate';
	        progressBarRate.textContent = occupancyRate + '%'; // 비율
	        progressBar.setAttribute('aria-valuenow', occupancyRate);

	        // Append the progress bar to the wrapper
	        progress.appendChild(progressBar);
	        progressWrapper.appendChild(progressBarRate);
	        progressWrapper.appendChild(progress);

	        // Append the wrapped progress bar to the container
	        progressBarContainer.appendChild(progressWrapper);

	        var detailWrapper = document.createElement('div');
	        var detailTypeName = document.createElement('p');
	        var detailCount = document.createElement('p');
	        detailWrapper.className ='detailWrapper';
	        detailTypeName.className ='detailTypeName';
	        detailCount.className ='detailCount';
	        detailTypeName.textContent = typeId; // 타입 이름
	        detailCount.textContent = count + '건'; // 건수
	        progressBarDetail.appendChild(detailWrapper);
	        detailWrapper.appendChild(detailTypeName);
	        detailWrapper.appendChild(detailCount);
	    }
	}




    function updateDashboard(selectedDate) {
        fetch('/admin/dashboard?selectedDate=' + selectedDate)
            .then(response => {
                if (!response.ok) {
                    throw new Error('대시보드 업데이트 실패');
                }
                return response.json();
            })
            .then(data => {


                // 서버에서 가져온 데이터를 사용하여 대시보드를 업데이트하는 로직 작성
                updateDashboardWithData(data);
                createDoughnutChart(data)
            })
            .catch(error => {
                console.error('대시보드 업데이트 오류: ', error);
            });
    }



  

    function updateDashboardWithData(data) {
        // 여러 엘리먼트 업데이트
        updateElementContent('#countCheckIn', data.countCheckIn );
        updateElementContent('#countCheckIn2', data.countCheckIn2 + "/");
        updateElementContent('#countCheckOut', data.countCheckOut );
        updateElementContent('#countCheckOut2', data.countCheckOut2 + "/");
        updateElementContent('#countStock', data.countStock);
        updateElementContent('#countReservationToday', data.countReservationToday);
        updateElementContent('#countCanceledReservationToday', data.countCanceledReservationToday);
        updateElementContent('#rate-text', data.calculateOccupancyRate + "%");
        updateElementContent('#total-price', "₩"+data.sumTotalPrice.toLocaleString());
        drawPercentageStackedBar(data.calculateOccupancyRate);
        drawOccupancyRateProgressBar(data.calculateRate);
    }

    function updateElementContent(selector, content) {
        const element = document.querySelector(selector);
        if (element) {
            element.textContent = content;
        }
    }
    $(function () {
        // datepicker 초기화
        $("#datePick").datepicker({
            dateFormat: "yy년 mm월 dd일",
            showOtherMonths: true,
            showMonthAfterYear: true,
            changeYear: true,
            changeMonth: true,
            closeText: '닫기',
            dayNamesMin: ['일','월','화','수','목','금','토'],
            monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
            onSelect: function (dateText, inst) {
                // 선택된 날짜를 컨트롤러로 전달
                updateDashboard(dateText);
                
                
            }
        });
        


        // 오늘 날짜로 대시보드 초기화
        initializeDashboardWithToday();

        // 왼쪽과 오른쪽 화살표 클릭 이벤트
        $("#left").on("click", function () {
            updateDate(-1);
        });

        $("#right").on("click", function () {
            updateDate(1);
        });


        function updateDate(daysToAdd) {
            var selectedDate = $("#datePick").datepicker("getDate");
            selectedDate.setDate(selectedDate.getDate() + daysToAdd);
            $("#datePick").datepicker("setDate", selectedDate);
            updateDashboard(formatDate(selectedDate));
        }
        function initializeDashboardWithToday() {
            var today = new Date();
            var formattedDate = formatDate(today);
            $("#datePick").val(formattedDate);
            // 초기화시 오늘 날짜로 대시보드 업데이트
            updateDashboard(formattedDate);

        }

        // TODAY 버튼 클릭 이벤트
        $("#todayButton").on("click", function () {
            // 오늘 날짜로 대시보드 업데이트
            initializeDashboardWithToday();
        });

        function formatDate(date) {
            return date.getFullYear() + '년 ' + (date.getMonth() + 1) + '월 ' + date.getDate() + '일';
        }
    });
    
</script>
	</th:block>
</html>