<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/adminLayout}">
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
	*{
	font-family: suit;
	}
.table-tr {
	background-color: #f7f7f7;
}

.table-tr>th {
	font-size: 12px;
}

.roomlist-img {
	width: 160px;
	height: 160px;
}
.page-link{
	cursor: pointer;
}
.nice-select{
border: 0;
height: 100%;
}
.categoryBtn{
    font-size: 15px;
    font-weight: 500;
    height: 31px;
    margin: 0 6px;
    padding: 0;
    width: 65px;
        background-color: #F06292;
    color: white;
}
</style>

</th:block>

</head>
<main layout:fragment="content">
	<div class="col-12">
		<div class="card my-4">
			<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
				<div
					class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
					style="display: flex; justify-content: space-between;">
					<h6 class="text-white text-capitalize ps-3">고객 리스트</h6>
				</div>
			</div>
			<div class="card-body px-0 pb-2"style="
    padding: 0;
">


				<div>
					<form th:object="${searchDto}" class="d-flex"
						th:action="@{'/admin/guestList/' + ${memberList.number}}"
						method="get" id="searchFoam" name="search-form" style="
    margin: 8px 6px 6px;display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    
    
">	    <div style="
    display: flex;
    margin-left:6px;
    align-items: center;
">
<input type="hidden" th:field="*{category}" id="category"  />
        <button type="submit" onclick="setCategory('member')" class="categoryBtn btn btn-default btn-sm">회원</button>
        <button type="submit" onclick="setCategory('walk_in_customer')" class="categoryBtn btn btn-default btn-sm">현장고객</button>
    </div>
    <div style="
    display: flex;
">
						<select th:field="*{searchType}" id="searchType" >
							<option disabled selected value="null">검색 유형</option>
							<option value="name">이름</option>
							<option value="birth">생년월일</option>
							<option value="phone">휴대폰번호</option>
							<option value="email">이메일</option>
						</select> <input th:field="*{keyword}" id="keyword"
							class="form-control me-sm-1" type="search" placeholder="Search" style="
    height: 100%;
">
						<button id="searchBtn" class="my-2 my-sm-0 btn btn-outline-primary" type="submit"style="
    height: 100%;
    padding: 0;
    width: 100px;
    font-size: 14px;
">검색</button>
</div>
					</form>
				</div>
				<div class="table-responsive p-0">
					<table class="table align-items-center mb-0">
						<thead>
							<tr class="table-tr">
								<th
									class="text-uppercase text-secondary font-weight-bolder opacity-7">번호</th>
								<th
									class="text-uppercase text-secondary font-weight-bolder opacity-7 ps-2">이름</th>
								<th
									class="text-center text-uppercase text-secondary font-weight-bolder opacity-7">생년월일</th>
								<th
									class="text-center text-uppercase text-secondary font-weight-bolder opacity-7">휴대폰번호</th>
								<th
									class="text-center text-uppercase text-secondary font-weight-bolder opacity-7">email</th>
								<th
									class="text-center text-uppercase text-secondary font-weight-bolder opacity-7">주소</th>
								<th
									class="text-center text-uppercase text-secondary font-weight-bolder opacity-7">이용횟수</th>
								<th
									class="text-center text-uppercase text-secondary font-weight-bolder opacity-7">등록일</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="member, status: ${memberList.getContent()}">
								<td style="padding: 12px 24px;">
									<p th:text="${member.id}"
										class="text-xs text-secondary mb-0"></p>
								</td>
								<td>
									<p th:text="${member.name}"
										class="text-xs font-weight-bold mb-0"></p>
								</td>
								<td class="align-middle text-center">
									<p th:text="${member.birth}"
										class="text-xs text-secondary mb-0"></p>
								</td>
								<td class="align-middle text-center">
									<p th:text="${member.phone}"
										class="text-xs text-secondary mb-0"></p>
								</td>
								<td class="align-middle text-center text-sm">
									<p th:text="${member.email}"
										class="text-xs font-weight-bold mb-0"></p>
								</td>
								<td class="align-middle text-center">
									<p th:text="${member.address}"
										class="text-xs text-secondary mb-0"></p>
								</td>
								<td class="align-middle text-center">
									<p th:text="${member.count}"
										class="text-xs text-secondary mb-0"></p>
								</td>
								<td class="align-middle text-center">
									<p th:text="${member.regTime}"
										class="text-xs text-secondary mb-0"></p>
								</td>




							</tr>
						</tbody>
					</table>

					<!-- 페이징버튼 -->
					<!-- start = (현재 페이지 번호/보여줄 페이지수) * 보여줄 페이지수 + 1, 페이지 시작번호 -->
					<!-- end = start + (보여줄 페이지수 - 1), 페이지 끝번호 -->
					<!-- 
						     끝번호가 전체페이지보다 작으면 그냥 끝번호를 쓴다  
						     예) 전체 페이지 7, 끝번호 5
						     ◀ 1 2 3 4 5 ▶
						     ◀ 6 7
						-->
					<nav class="pagination pagination-primary pagination-sm" style="margin-top: 26px;display: flex;justify-content: center;"
						th:with="start=${(memberList.number/maxPage)*maxPage + 1}
			                 ,end=(${(memberList.totalPages == 0) ? 1 : (start + (maxPage - 1) < memberList.totalPages ? start + (maxPage - 1) : memberList.totalPages)})"
						aria-label="Page navigation example">
						<ul class="pagination d-flex justify-content-center">
							<li class="page-item"
								th:classappend="${memberList.first}?'disabled'"><a
								class="page-link"
								th:onclick="'javascript:page(' + ${memberList.number - 1} +')'">        <span class="material-icons">
          keyboard_arrow_left
        </span>
        <span class="sr-only">Previous</span></a>
							</li>

							<li class="page-item"
								th:each="page: ${#numbers.sequence(start, end)}"
								th:classappend="${memberList.number eq page-1}?'active':''">
								<a class="page-link" th:inline="text"
								th:onclick="'javascript:page(' + ${page - 1} +')'">[[${page}]]</a>
							</li>

							<li class="page-item"
								th:classappend="${memberList.last}?'disabled'"><a
								class="page-link"
								th:onclick="'javascript:page(' + ${memberList.number + 1} +')'"><span class="material-icons">
          keyboard_arrow_right
        </span>
        <span class="sr-only">Next</span></a>
							</li>
						</ul>
					</nav>

				</div>


			</div>
		</div>
	</div>
</main>
<th:block layout:fragment="script">
	<script>
		/* 	function deleteRoomType(typeId) {
		 const deleteConf = confirm("객실을 삭제하시겠습니까?");
		 if (!deleteConf)
		 return; //취소버튼 누르면

		 //request URL
		 var url = "/room/delete/" + typeId;

		 var token = $("meta[name='_csrf']").attr("content");
		 var header = $("meta[name='_csrf_header']").attr("content");

		 $.ajax({
		 url : url, //request URL
		 type : "DELETE", //전송방식
		 contentType : "application/json",
		 beforeSend : function(xhr) {
		 //데이터를 전송하기 전에 헤더에 csrf 값을 설정
		 xhr.setRequestHeader(header, token);
		 },
		 dataType : "json",
		 cache : false,
		 success : function(result, status) {
		 location.href = '/admin/roomtypeList';
		 }

		 });
		 }
		 */
		$(document).ready(function() {

			$("#searchBtn").on("click", function(e) {
				e.preventDefault(); //submit되는걸 방지
				page(0);
			});

		});
		    function setCategory(category) {
		        document.getElementById('category').value = category;
		    }

		    function submitForm() {
		        document.getElementById('searchForm').submit();
		    }

		//페이징버튼 눌렀을때 혹은 검색버튼 눌렀을때 검색어와 selectbox를 get방식으로 주소이동시켜준다.
function page(page) {
    // 입력한 값을 전부 가지고 온다.
    var searchType = $("#searchType").val();
    var keyword = $("#keyword").val();
    var category = $("#category").val();

    // 주소 이동
    var url = "/admin/guestList/" + page + "?category=" + category;
    if (searchType && keyword) {
        url += "&searchType=" + searchType + "&keyword=" + keyword;
    }

    location.href = url;
}
	</script>
</th:block>
</html>