<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/adminLayout}">
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
	.table-tr{
	background-color: #f7f7f7;
	}
	.table-tr > th{
	font-size: 12px;
	}
	.roomlist-img{
	width: 160px;
	height: 160px;
	}

	
	</style>

</th:block>

</head>
<main layout:fragment="content">
<div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3" style="
    display: flex;
    justify-content: space-between;
">
                <h6 class="text-white text-capitalize ps-3">예약현황</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">

            
            <div style="
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
">
                  <form class="d-flex">
        <input id="searchQuery" class="form-control me-sm-2" type="search" placeholder="Search">
        <button id="searchBtn" class="my-2 my-sm-0" type="submit">Search</button>
      </form>
            </div>
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr class="table-tr"> 
                      <th class="text-uppercase text-secondary font-weight-bolder opacity-7">회원번호</th>
                      <th class="text-uppercase text-secondary font-weight-bolder opacity-7 ps-2">이름</th>
                      <th class="text-center text-uppercase text-secondary font-weight-bolder opacity-7">휴대폰번호</th>
                      <th class="text-center text-uppercase text-secondary font-weight-bolder opacity-7">email</th>
                      <th class="text-center text-uppercase text-secondary font-weight-bolder opacity-7">주소</th>
                      <th class="text-center text-uppercase text-secondary font-weight-bolder opacity-7">이용횟수</th>
                      
                    </tr>
                  </thead>
                  <tbody >
                    <tr th:each="member, status: ${memberList}">
                      <td  style="padding:12px 24px;">
<p th:text="${member.memberId}"class="text-xs text-secondary mb-0"></p>
                      </td>
                      <td>
                        <p th:text="${member.name}"class="text-xs font-weight-bold mb-0"></p>
                      </td>
                      <td class="align-middle text-center">
                        <p th:text="${member.phone}"class="text-xs text-secondary mb-0"></p>
                      </td>
                      <td class="align-middle text-center text-sm">
                                                <p th:text="${member.email}"class="text-xs font-weight-bold mb-0"></p>
                      </td>
                      <td class="align-middle text-center">
<p th:text="${member.address}"class="text-xs text-secondary mb-0"></p>
                      </td>
                      <td class="align-middle text-center">
<p th:text="${member.count}"class="text-xs text-secondary mb-0"></p>
                      </td>




                    </tr>
                  </tbody>
                </table>
                
              </div>
              

            </div>
          </div>
        </div>
</main>
	<th:block layout:fragment="script">
	<script>
/* 	function deleteRoomType(typeId) {
		const deleteConf = confirm("객실을 삭제하시겠습니까?");
		if (!deleteConf)
			return; //취소버튼 누르면

		//request URL
		var url = "/room/delete/" + typeId;

		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		$.ajax({
			url : url, //request URL
			type : "DELETE", //전송방식
			contentType : "application/json",
			beforeSend : function(xhr) {
				//데이터를 전송하기 전에 헤더에 csrf 값을 설정
				xhr.setRequestHeader(header, token);
			},
			dataType : "json",
			cache : false,
			success : function(result, status) {
				location.href = '/admin/roomtypeList';
			}

		});
	}
 */
	</script>
	</th:block>
</html>