<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">


	<!-- Offcanvas Menu Section Begin -->
	<div class="offcanvas-menu-overlay"></div>
	<div class="canvas-open">
		<i class="icon_menu"></i>
	</div>
	<div class="offcanvas-menu-wrapper">
		<div class="canvas-close">
			<i class="icon_close"></i>
		</div>

		<div class="header-configure-area">

			<a href="/members/login" class="bk-btn" sec:authorize="isAnonymous()">LOGIN</a>
			<a href="/members/logout" class="bk-btn"
				sec:authorize="isAuthenticated()">LOGOUT</a>
		</div>
		<nav class="mainmenu mobile-menu">
			<ul>
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/rooms/promotions">Promotions</a></li>
				<li><a href="./rooms/roomList">Rooms</a></li>
				<li><a href="./about-us.html">About Us</a></li>
				<li><a href="./pages.html">Others</a>
					<ul class="dropdown">
						<li><a href="/rooms/roomDetails">Room Details</a></li>
						<li><a href="#">Deluxe Room</a></li>
						<li><a href="#">Family Room</a></li>
						<li><a href="#">Premium Room</a></li>
					</ul></li>
				<li><a href="/members/contact">Contact</a></li>
			</ul>
		</nav>
		<div id="mobile-menu-wrap"></div>
		<div class="top-social">
			<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
				class="fa fa-twitter"></i></a> <a href="#"><i
				class="fa fa-tripadvisor"></i></a> <a href="#"><i
				class="fa fa-instagram"></i></a>
		</div>
		<ul class="top-widget">
			<li><i class="fa fa-phone"></i> (12) 345 67890</li>
			<li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
		</ul>
	</div>
	<!-- Offcanvas Menu Section End -->

	<!-- Header Section Begin -->
	<header class="header-section">
		<div class="top-nav">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<ul class="tn-left">
							<li><i class="fa fa-phone"></i> (12) 345 67890</li>
							<li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
						</ul>
					</div>
					<div class="col-lg-6">
						<div class="tn-right">
							<div class="top-social">
								<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
									class="fa fa-twitter"></i></a> <a href="#"><i
									class="fa fa-tripadvisor"></i></a> <a href="#"><i
									class="fa fa-instagram"></i></a>
									<a href="/check"><i class="fa-solid fa-user fa" style="color: #dfa974;"></i></a>
							</div>
							<a href="/members/login" class="bk-btn"
								sec:authorize="isAnonymous()">LOGIN</a> <a
								href="/members/logout" class="bk-btn"
								sec:authorize="isAuthenticated()">LOGOUT</a>

							<div class="language-option" style="margin-left: 0px !important;">

								<span class="bk-btn"
									sec:authorize="hasAnyAuthority('ROLE_ADMIN')"
									style="color: #ffffff; font-size: 13px; font-weight: 700;">관리자메뉴<i
									class="fa fa-angle-down"></i></span>
								<div class="flag-dropdown">
									<ul>
										<li><a href="/admin/room">객실관리</a></li>
										<li><a href="/admin/reservationList">예약관리</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="menu-item">
			<div class="container">
				<div class="row">
					<div class="col-lg-2">
						<div class="logo" style="padding-top: 5px; padding-bottom: 5px;">
							<a href="/"> <img src="/img/최종로고2.png" alt="" style="width: 260px;height: 75px;max-width: none;">
							</a>
						</div>
					</div>
					<div class="col-lg-10">
						<div class="nav-menu">
							<nav class="mainmenu">
								<ul>
									<li class="active"><a href="/">Home</a></li>
									<li><a href="/rooms/roomList">Rooms</a></li>
									<li><a href="/rooms/promotions">Promotions</a></li>
								
									

									<li><a href="/members/contact">Contact</a></li>
								</ul>
							</nav>
							<div class="nav-right search-switch">
								<i class="icon_search"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header End -->
</div>

</html>