<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
	<!-- Breadcrumb Section Begin -->
	<div class="breadcrumb-section">
		<div class="container">
			<div class="row">
				<!-- <input type="hidden" id="typeId" th:value="${rooms.id}"> -->
				<div class="col-lg-12">
					<div class="breadcrumb-text">
						<h2>Our Rooms</h2>
						<div class="bt-option">
							<a href="./home.html">Home</a> <span>Rooms</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb Section End -->

	<div class="col-lg-4">
		<div class="room-booking">
			<h3>Your Reservation</h3>
			<form action="#">
				<div class="check-date">
					<label for="date-in">Check In:</label> <input type="text"
						class="date-input" id="date-in"> <i class="icon_calendar"></i>
				</div>
				<div class="check-date">
					<label for="date-out">Check Out:</label> <input type="text"
						class="date-input" id="date-out"> <i class="icon_calendar"></i>
				</div>
				<div class="select-option">
					<label for="guest">Guests:</label> <select id="guest">
						<option value="1">1 Adults</option>
						<option value="2">2 Adults</option>
						<option value="3">3 Adults</option>
					</select>
				</div>

				<button type="submit" onclick="order()">Check Availability</button>
			</form>
		</div>

	</div>


</div>
</html>